<footer class="footer">
    <div class="footer-content">
        <div class="footer-information">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p>
        </div>
        <div class="footer-contact">
            <h2>Kontakt</h2>
            <p>+46 123456 bio@kino.com</p>
            <p>Adress: Hogdalsvägen 3 84090 Ytterhogdal, Sweden</p>
        </div>
        <div class="footer-opening-hours">
            <h2>Öppettider</h2>
            <p>mån-tor: </p>
            <p>fre-lör: </p>
            <p>sön: </p>
        </div>
        <div class="footer-social-media">
            <h2>Sociala media</h2>
            <ul class="social-media">
                <li class="icon">
                    <a href="https://www.instagram.com/">
                        <img src="/img/instagram.png" alt="Instagram logo color gray on black background">
                    </a>
                </li>
                <li class="icon">
                    <a href="https://www.facebook.com/">
                        <img src="/img/facebook.png" alt="Instagram logo color gray on black background">
                    </a>
                </li>
                <li class="icon">
                    <a href="https://www.twitter.com/">
                        <img src="/img/twitter.png" alt="Instagram logo color gray on black background">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>