<header>
    <a href="/"><img src="/img/gm.png" alt="back to homepage"></a>
    <nav class="main-nav">
        <ul class="main-menu">
            <li><a class="menu-btn" href="/movies">Filmer</a></li>
            <li><a class="menu-btn" href="/404">Barnbio</a></li>
            <li><a class="menu-btn" href="/404">Biljetter</a></li>
            <li><a class="menu-btn" href="/about">Om oss</a></li>
            <li><a class="menu-btn" href="/404">kontakt</a></li>
        </ul>
        <input type="search" id="search" placeholder="Sök..">
    </nav>
</header>