@charset "UTF-8";
/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Marta Anna Todorovic */
/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå */
footer {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
  Author: Marta Anna Todorovic */
}
footer h2 {
  font-size: large;
}
footer .footer-content {
  display: grid;
  gap: 80px;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 1.5fr;
  margin-left: 80px;
}
footer .footer-information {
  width: 180px;
}
footer .footer-contact {
  width: 140px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  float: left;
  padding: 0;
}
footer .icon a {
  color: rgba(211, 211, 211, 0.801);
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 1rem;
}
footer .icon i {
  opacity: 0.6;
}
footer .icon i:hover {
  color: #d4af37;
  opacity: 1;
}

header {
  background-color: #BB0000;
}
header .main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 10vw 0 15vw;
  height: 100px;
  /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
  Author: Marta Anna Todorovic */
}
header .main-menu a:hover {
  color: #d4af37;
  box-shadow: 0.7rem 0.5rem 0.5rem #000;
}
header .main-menu li {
  list-style-type: none;
}

.menu-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(212, 175, 55, 0.5);
  color: #000;
  background-color: #BB0000;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

#search {
  border-radius: 50%;
  padding: 10px 10px 10px 14px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
  Author: Marta Anna Todorovic */
}
#search:hover {
  box-shadow: 0.7rem 0.5rem 0.5rem #000;
}

/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå */
img {
  display: flex;
  float: left;
  margin: 10px 20px 0 10px;
  width: 90px;
}

/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Simon Ljungström */
.cards {
  background-color: #BB0000;
}

.popular {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.current {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.upcoming {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå */
.about-us-nav {
  background-color: #000;
}
.about-us-nav .about-us-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  width: 60%;
}
.about-us-nav .about-us-menu li {
  list-style-type: none;
}
.about-us-nav .about-us-menu li .menu-text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
  Author: Marta Anna Todorovic */
}
.about-us-nav .about-us-menu li .menu-text:hover {
  color: #d4af37;
}
.about-us-nav .about-us-menu li .menu-text:focus {
  color: #d4af37;
}

.about-us-space {
  background-color: #BB0000;
  color: #fff;
}
.about-us-space h1 {
  margin: 0;
  padding: 1.5rem 0rem 2rem 10rem;
}

.hero-image {
  background-image: url("src/img/hero.png");
  height: 35vw;
  background-size: cover;
}

body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
