.movie-container {
    min-height: calc(100vh - 641px);
    width: 70vw;
    background-color: $third-color;
    margin: auto;
}

.current-movie-title {
    margin: 0;
    padding: 40px 20px;
    color: $secondary-color
}