.movie {
    margin: auto;
    padding: 20px;
    background-color: $third-color;
    width: 70vw;
    min-height: calc(100vh - 310px);
    color: $secondary-color;

    .movie-title {
        color: $secondary-color;
        padding: 20px 0px 0px 20px;
        margin: 0;
    }
    .intro {
        padding: 0px 20px;
        color: $secondary-color;
    }
    .movie-rating {
        padding: 20px 20px 0px 20px;
        color: $fifth-color;
    }
    a {
        color: $fourth-color;
    }

    .movie-img {
        width: 50%;
        box-shadow: 0px 0px 15px 1px black;
        height: 400px;
        width: auto;
        margin: 20px;
        float: none;
        border: solid 1px $secondary-color;
    }
    .submit-review {
        margin-top: 3rem;
        padding: 20px;

        .add-review {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-family: $font-choice;
            padding: 10px 30px;
            border: 2px solid $secondary-color;
            border-radius: 6px;
            text-align: center;
            max-width: 35vw;
            
            .review {
                margin: 0.5rem;
                font-family: $font-choice;
                padding: 5px;
                border-radius: 6px;
                box-sizing: border-box;                   
            }
            
            .review-text {
                height: 4rem;
                color: $third-color;
            }
            
            .button-review{
                box-sizing: border-box;
                width: max-content;
                margin: 10px;
                border-radius: 6px;
                background-color: $primary-color;
            }
        }

    }
    .review-container {
        padding: 0px 20px 20px 20px;

        .reviewTotal {
            color: $fifth-color;
        }
        .movie-review {
            margin-top: 1rem;
            padding: 0;
        }
        .previousReviewButton {
            background-color: $third-color;
            color: $fifth-color;
            border-style: none;
            border-bottom: solid 1px $fifth-color;
            padding: 0;
            margin-right: 20px;
            
            &:hover {
                cursor: pointer;
            }
        }
        .nextReviewButton {
            background-color: $fifth-color;
            color: $third-color;

            &:hover {
                cursor: pointer;
            }
        }
        li {
            display: flex;
            flex-direction: column;
            max-width: 35vw;
            overflow: scroll;
            list-style: none;
            padding: 10px 30px;
            margin: 2px;
            background-color: $secondary-color;

            span {
                color: $third-color;
            }
            a {
                color: $third-color;
            }
        }
    }
    .screening-container {

        .current-screenings {
            font-size: 1.8rem;
            margin-top: 3rem;
            margin-bottom: 0;
            padding: 20px 20px 0px 20px;
        }
        ul {
            padding: 0;
        
            li {
                list-style: none;
                padding: 5px 20px;
            }
        }    
    }
}