header {
    background: linear-gradient(#BB0000, #780000);

    .main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0 10vw 0 15vw;
        height: 100px;

    /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
    Author: Marta Anna Todorovic */        
        a {
            &:hover {
                border-bottom: 2px solid $secondary-color;
            }
        }

        li {
            list-style-type: none;            
        }
    }
}

.menu-btn {
    font-family: $font-choice;
    font-weight: bold;
    text-decoration: none;
    color: $secondary-color;
    padding: 10px 30px;
}

.disabledButton {
    display: none;
}

#search {
    position: absolute;
    right: 20px;
    top: 35px;
    color: $secondary-color;
    background-color: #C54343;
    border-style: none;
    border-radius: 4px;
    padding: 8px;
    
    &:hover {  
         border: solid 1px $secondary-color;
         cursor: pointer;
    }
}

#search::placeholder {
    color: $secondary-color;
    opacity: 0.8;
}