<section class="important-info">
    <p class="important-info-text">Följande restriktioner för covid-19 gäller för denna biograf...</p>
</section>

<section class="hero">
    <div class="hero-image" alt="Red theater curtain"></div>
</section>

<section class="movie-content">
    <h1 class="current-title"> Aktuella filmer: </h1>
    <ul class="current-movies">
        {{#each movies }}
        <li class="current-movie">
            <a href="/movie/{{ this.id }}">
                {{ this.title }}
            </a>
        </li>
        {{/each}}
    </ul>
</section>