<section class="important-info">
    <p class="important-info-text">Följande restriktioner för covid-19 gäller för denna biograf...</p>
</section>

<section class="hero">
    <div class="hero-image" alt="Red theater curtain"></div>
</section>

<div class="movie-container"> 

<h1 class="current-movie-title"> Kommande visningar: </h1>

<ul id="screening-list"></ul>

</div>

<script type="module" src="/script/index.js"></script>