<div class="hero-image" alt="Red theater curtain"></div>

<div class="movie-container"> 

<h1 class="current-movie-title"> Kommande visningar: </h1>

<ul id="screening-list"></ul>

</div>

<script type="module" src="/script/index.js"></script>