<section class="movie-content">

    <h1 class="current-title"> Aktuella filmer </h1>

    <ul class="current-movies">

        {{#each movies }}
        <li class="current-movie">
            <a href="/movies/{{ this.id }}">
                {{ this.attributes.title }}
            </a>
        </li>
        {{/each}}
        
    </ul>
</section>