<div class="movie">

  <div class="movie-info-container"> 
    <h1 class="movie-title">{{ movie.attributes.title }}</h1>

    <div class="intro">
      {{{ markdown movie.attributes.intro }}}
    </div>

    <div class="movie-rating"></div>

    {{#if movie.attributes.image }}
    <img class="movie-img" alt="movie poster" src="{{ movie.attributes.image.url }}">
    {{/if }}
  </div>

  <div class="submit-review">
    <h2>Lämna en recension</h2>
    <form id="frm" class="add-review">
      <textarea id="addComment" class="review review-text" placeholder="Add your review here"></textarea>
      <input type="hidden" value="{{ movie.id }}">
      <select id="rate" class="review">
        <option value="" hidden>Your rating here</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input id="addName" class="review" placeholder="Your name here">
      <input id="addBtn" class="menu-btn button-review" type="submit">
    </form>
  </div>

  <div class="review-container">
    <p class="reviewTotal"></p>
    <div>
      <ol class="movie-review"></ol>
    </div>

    <button class="menu-btn previousReviewButton">Previous review page</button>
    <button class="menu-btn nextReviewButton">Next review page</button>

  </div>

  <div class="screening-container">
      <h3 class="current-screenings">Kommande visningar</h3>
      <ul class="screenings-for-each-movie"></ul>
    </div>

</div>

<script type="module" src="/script/moviePage.js"></script>