<div class="movie">
  <h1 class="movie-title">{{ movie.attributes.title }}</h1>
  <div class="intro">
    {{{ markdown movie.attributes.intro }}}
  </div>
  {{#if movie.attributes.image }}
  <img class="movie-img" src="{{ movie.attributes.image.url }}">
  {{/if }}
  <div class="review-container">
    <p class="reviewTotal"></p>
    <button class="menu-btn previousReviewButton">Previous review page</button>
    <button class="menu-btn nextReviewButton">Next review page</button>
    <div class="movie-review"></div>
  </div>

  <div class="screening-container">
    <p>Kommande visningar</p>
    <ul class="screenings-for-each-movie"></ul>
  </div>
</div>

<script type="module" src="/script/moviePage.js"></script>