<div class="movie">
  <h1 class="movie-title">{{ movie.title }}</h1>
  <div class="intro">
    {{{ markdown movie.intro }}}
  </div>
  {{#if movie.image }}
  <img class="movie-img" src="{{ movie.image.url }}">
  {{/if }}
</div>