@charset "UTF-8";
/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Marta Anna Todorovic */
/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå */
footer {
  background: linear-gradient(#780000, #BB0000);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
    Author: Marta Anna Todorovic */ }
  footer h2 {
    font-size: large; }
  footer .footer-content {
    display: grid;
    gap: 80px;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 1.5fr;
    margin-left: 80px; }
  footer .footer-information {
    width: 180px; }
  footer .footer-contact {
    width: 140px; }
  footer .social-media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: left;
    padding: 0; }
  footer .icon a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 1rem; }
  footer .icon i {
    opacity: 0.7; }
    footer .icon i:hover {
      color: #d9d9d9;
      opacity: 1; }

header {
  background: linear-gradient(#BB0000, #780000); }
  header .main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 10vw 0 15vw;
    height: 100px;
    /* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
    Author: Marta Anna Todorovic */ }
    header .main-menu a:hover {
      border-bottom: 2px solid #fff; }
    header .main-menu li {
      list-style-type: none; }

.menu-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px; }

.disabledButton {
  display: none; }

#search {
  position: absolute;
  right: 20px;
  top: 35px;
  color: #fff;
  background-color: #C54343;
  border-style: none;
  border-radius: 4px;
  padding: 8px; }
  #search:hover {
    border: solid 1px #fff;
    cursor: pointer; }

#search::placeholder {
  color: #fff;
  opacity: 0.8; }

/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå */
img {
  display: flex;
  float: left;
  margin: 10px 20px 0 10px;
  width: 90px; }

/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Mats Hemå &  Marta Anna Todorovic */
.about-us-nav {
  background-color: #780000;
  border-top: solid 1px #fff;
  padding: 4px; }
  .about-us-nav .about-us-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    width: 60%; }
    .about-us-nav .about-us-menu li {
      list-style-type: none; }
      .about-us-nav .about-us-menu li .menu-text {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none; }
        .about-us-nav .about-us-menu li .menu-text:hover {
          color: #d4af37; }
      .about-us-nav .about-us-menu li .menu-text:focus {
        color: #d4af37; }
      .about-us-nav .about-us-menu li .menu-active {
        color: #d4af37; }

.about-us-space {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0px 40px 0px;
  min-height: calc(100vh - 400px);
  background-color: #fff;
  width: 80vw;
  margin: auto; }
  .about-us-space .about-us-history {
    margin: auto;
    width: 70%; }
    .about-us-space .about-us-history img {
      box-shadow: 0px 0px 15px 1px black;
      float: none;
      margin: 0;
      width: 600px; }
  .about-us-space .about-us-accessibility {
    margin: auto;
    width: 70%; }
  .about-us-space .about-us-policy {
    margin: auto;
    width: 70%; }
  .about-us-space .about-us-faq {
    margin: auto;
    width: 70%; }
  .about-us-space .about-us-hide {
    display: none; }

.hero-image {
  background-image: url("/img/hero.png");
  height: 35vw;
  background-size: cover; }

.movie-content {
  margin: auto;
  padding: 20px;
  width: 70vw;
  background-color: #000;
  min-height: calc(100vh - 291px); }
  .movie-content .current-title {
    font-size: 2rem;
    color: #fff;
    margin: 0;
    padding: 20px 0px 20px 20px; }
  .movie-content ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 20px 20px;
    max-width: 1200px;
    height: auto;
    margin: 0; }
    .movie-content ul .current-movie {
      list-style-type: none;
      padding: 5px 0px;
      width: 360px; }
      .movie-content ul .current-movie a {
        display: flex;
        flex-direction: column;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem; }
        .movie-content ul .current-movie a img {
          margin: 1rem 0rem;
          width: auto;
          height: 500px;
          border: solid 1px #fff; }
          .movie-content ul .current-movie a img:hover {
            border: solid 2px #fff; }
      .movie-content ul .current-movie a:hover {
        font-weight: bold; }

.movie {
  margin: auto;
  padding: 20px;
  background-color: #000;
  width: 70vw;
  min-height: calc(100vh - 310px);
  color: #fff; }
  .movie .movie-info-container {
    margin: auto;
    width: 40vw; }
    .movie .movie-info-container .movie-title {
      color: #fff;
      padding: 20px 0px 0px 0px;
      margin: 0; }
    .movie .movie-info-container .intro {
      color: #fff; }
    .movie .movie-info-container .movie-rating {
      margin-top: 30px;
      color: #d9d9d9; }
    .movie .movie-info-container a {
      color: #d4af37; }
    .movie .movie-info-container .movie-img {
      height: 400px;
      width: auto;
      margin: 20px 0px;
      float: none;
      border: solid 1px #fff; }
  .movie .submit-review {
    margin: auto;
    width: 40vw;
    padding: 20px; }
    .movie .submit-review .add-review {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 30px;
      border: 2px solid #fff;
      border-radius: 6px; }
      .movie .submit-review .add-review .review {
        margin: 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        border-radius: 6px;
        box-sizing: border-box; }
      .movie .submit-review .add-review .review-text {
        height: 4rem;
        color: #000; }
      .movie .submit-review .add-review .button-review {
        box-sizing: border-box;
        width: max-content;
        margin: 10px;
        border-radius: 6px;
        background-color: #BB0000; }
  .movie .review-container {
    margin: auto;
    width: 40vw; }
    .movie .review-container .reviewTotal {
      color: #d9d9d9; }
    .movie .review-container .movie-review {
      margin-top: 1rem;
      padding: 0; }
    .movie .review-container .previousReviewButton {
      background-color: #000;
      color: #d9d9d9;
      border-style: none;
      border-bottom: solid 1px #d9d9d9;
      padding: 0;
      margin-right: 20px; }
      .movie .review-container .previousReviewButton:hover {
        cursor: pointer; }
    .movie .review-container .nextReviewButton {
      background-color: #d9d9d9;
      color: #000; }
      .movie .review-container .nextReviewButton:hover {
        cursor: pointer; }
    .movie .review-container li {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      list-style: none;
      padding: 10px 30px;
      margin: 2px 0px;
      background-color: #fff; }
      .movie .review-container li span {
        color: #000; }
  .movie .screening-container {
    margin: auto;
    width: 40vw; }
    .movie .screening-container .current-screenings {
      font-size: 1.8rem;
      margin-top: 3rem;
      margin-bottom: 0; }
    .movie .screening-container ul {
      padding: 0; }
      .movie .screening-container ul li {
        list-style: none;
        padding: 5px 0px; }

.error-container {
  min-height: calc(100vh - 292px); }
  .error-container .error-msg {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin: 20px;
    text-decoration: underline; }

.movie-container {
  min-height: calc(100vh - 641px);
  width: 70vw;
  background-color: #000;
  margin: auto; }

.current-movie-title {
  margin: 0;
  padding: 40px 20px;
  color: #fff; }

html {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  height: 100%;
  background-color: #000; }
