@import 'sections/variables';
@import 'sections/footer';
@import 'sections/nav';
@import 'sections/logo';
@import 'sections/cards';
@import 'sections/aboutus';
@import 'sections/hero';
@import 'sections/importantInfo';
@import 'sections/index';

body {
    margin: 0;
}