.movie {
    margin: auto;
    padding: 0;
    width: 70%;
    min-height: calc(100vh - 310px);

    .movie-title {
        color: $secondary-color;
    }
    .movie-img {
        width: 50%;
        box-shadow: 0px 0px 15px 1px black;
        height: 400px;
        width: auto;
        margin: 20px 0 20px 0;
        float: none;
    }
}

