/* Arbetsmetodik och Agila projektmetoder - Ytterhogdal
Author: Simon Ljungström */



.cards {
    background-color: $primary-color; 
 }

.popular {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.current {
    padding:  50px;
    display: flex;
    flex-direction: row;

}

.upcoming {
    padding: 50px;
    display: flex;
    flex-direction: row;
}