@import 'sections/variables';
@import 'sections/footer';
@import 'sections/nav';
@import 'sections/logo';
@import 'sections/aboutus';
@import 'sections/hero';
@import 'sections/importantInfo';
@import 'sections/movies';
@import 'sections/movie';
@import 'sections/404.scss';
@import 'sections/index.scss';

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    background-color: $primary-color;
}