body {
    background-color: red;
}

.cards {
    
 }

.popular {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.current {
    padding:  50px;
    display: flex;
    flex-direction: row;

}

.upcoming {
    padding: 50px;
    display: flex;
    flex-direction: row;
   
}